.App {
  display: flex;
  gap: 10px;
}

.wrapper {
  overflow: hidden;
}

.download {
  width: fit-content;
  height: 20px;
}

.container {
  height: 500px;
  width: 500px;
  overflow: hidden auto;

  position: absolute;
  top: 0;
}
